body {
  min-height: 3000px;
}
.jumbotron {
  padding-top: 10rem;
  background-color: rgb(246, 231, 231);
}

#blog {
  background-color: rgb(246, 231, 231);
}

section {
  padding-top: 5rem;
}

.icon {
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material.icons.md-64 { font-size: 64px; }
}
