body {
  min-height: 3000px;
}
.jumbotron {
  padding-top: 10rem;
  background-color: #9dc183;
}

#blog {
  background-color: rgb(157, 193, 131);
}

section {
  padding-top: 5rem;
}

.icon {
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material.icons.md-64 { font-size: 64px; }
}

.selector-for-some-widget {
  box-sizing: content-box;
}
